<link rel='stylesheet' href='/stylesheets/style.css' />


<h1>Admin Dashboard</h1>
<ul>
  <li><a href="/admin/users">Manage Users</a></li>
  <li><a href="/admin/quest-status">Manage Quests</a></li>
  <li><a href="/admin/create-skill">Manage Skills</a></li>
  <li><a href="/admin/character-status">Manage Characters</a></li>
  <li><a href="/admin/manage-races">Manage Races</a></li>
</ul>
