<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... head elements -->
    <link rel="stylesheet" href="/stylesheets/landingpage.css">
    <link rel="stylesheet" href="/stylesheets/forgot.css">
</head>
<body>
    <div id = "landingNavigation">
        <div id = "imgContainer">
            <a href="/"><img src="/images/irongateslogo.png" alt=""></a>
        </div>
        <h1 class = "navButton"><a href="/log-in">Log in</a></h1>
    </div>
    <div id="main-container">
        <div id="containerReset">
            <div id="Reset-Div">
                <h1>Reset Password</h1>
                <form action="/forgot-password-post" method="POST">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Send Reset Link</button>
                </form>                
                <h2><a href="/log-in">Back to Log In</a></h2>
            </div>
        </div>
    </div>
</body>
</html>
