
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/landingpage.css' />
</head>
<body>
    <div id = "main">
        <div id = "landingNavigation">
            
            <div id = "imgContainer">
                <a href="/"><img src="/images/irongateslogo.png" alt=""></a>
            </div>
            <h1 class = "navButton"><a href="/log-in">Log in</a></h1>
        </div>
        <div id = "writtenContent">
            
            <audio controls>
                <source src="/images/narration.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <h2>Lore:</h2>
            <p>
                The world, ever in motion, witnessed the fall of Whitebeard, the great pirate sacrificing himself for his son, and the subsequent rise of Blackbeard. Yet, when the 'Final War' arrived it brought no victors. The Revolutionary Army was faced with a crushing defeat, their leaders vanquished, their forces scattered in a bloody assault on Marygeoise. Balance, precariously, returned. As the years passed, new Admirals and Yonko ascended and fell, while the government found stability once more.</p>
                <p>
                    In taverns across the world, whispers grew of the Cazador C.O.R.P.S -- a formidable alliance of bounty hunters. They offered vast resources in exchange for portions of bounties.
                </p> 
                <p>
                    The remnants of the Revolutionary Army collapsed toward self-interested kings, turning toward a darker path of nationalism and defiance against the World Government. This emerging Amarda, surpassing even the old Revolutionary Army in might, poses the gravest threat to the government in history. With the outlandish 'Knights of the Round', they match the Shichibukai in power. 
                </p>
                <p>From their strongholds in the Calm Belt, these new forces grew in influence, creating a new bounty system which the Cazador C.O.R.P.S were swift to capitalize on, targeting both the Marines and Armada alike.</p>

                <p>In the shadowy corners of the sea, tales began to spread of a rebellious Marine, a Yonko, on a quest for the fabled 'One Piece'. Across the globe, adventurous souls chase the grandest of dreams. Some joining the Armada, mounting pressure against the World Government--whilst some seek to defend it. Others chase the heads of criminals and highly coveted individuals for coin, while others are on an endless journey for treasure. What will your fate be in this changing era?</p>
        </div>
    </div>
</body>
</html>